.submit_button {
	background-color: grey;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    color: #fff;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}
.sidebar_links ul {
    background-color: gray;
    line-height: 32px;
    list-style: outside none none;
    text-decoration: none;
    max-width: 112px;
    padding: 10px 28px;
}
a {
    text-decoration: none;
}
.error_message {
    color: red;
}
.keep_login {
    color : #000;
}
.signup {
    left: 200px;
    position: relative;
    top: 150px;
}