.submit_button {
	background-color: grey;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
    color: #fff;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 4px;
}
.sidebar_links ul {
    background-color: gray;
    line-height: 32px;
    list-style: outside none none;
    text-decoration: none;
    max-width: 112px;
    padding: 10px 28px;
}
a {
    text-decoration: none;
}
.keep_login {
    color : #000;
}
.signup {
    left: 20px;
    position: relative;
}
.error_message form {
    width: 21%;
    color: red;
    line-height: 35px;
}
.error_message form label {
    color:#000;
}
.banner_signup_form form {
    width:270px;
}
.inputError {
    background: #ffdddd none repeat scroll 0 0;
    border: 1px solid #dd4b39;
}
.error_label {
    color: red;
}
.btn:hover {
    cursor : pointer;
}