{% load static from staticfiles %}
{% load i18n %}

<html class="no-js notranslate" lang="en">
    <!--<![endif]-->
    <head>
        <link href="{% static "css/style.css" %}" rel="stylesheet" media="screen">
        <title>Ricsco-Dashboard</title>
        <script  src="{% static "js/jquery-1.7.1.min.js" %}"></script>
        <script src="{% static "js/FieldValidator.js" %}"></script>
        <script src="{% static "js/actions.js" %}?version={{version}}"></script>
    </head>
    <body>
        <div class='xmas_class'>
       <a href="{% url 'logout_view' %}">{% trans "Sign out" %}</a>
        
        {% if not user.is_anonymous %}
        <div class="navbar profile_header" style="background: url({{sash_image_url}}?version={{version}}) 0px 0px no-repeat !important;">
         
        </div><!-- navbar -->
        {% else %}

        <div class="navbar" style="background: url({{sash_image_url}}?version={{version}}) 0px 0px no-repeat !important;">
            <!-- {% include "navigation_bar.html" %} -->
        </div><!-- navbar -->
        {% endif %}

        <div class="search_holder row ">
         
        </div><!-- search_holder -->
          
        <div class="container_full_dashboard container_full">
        <div class="container wrapper white_bg padding_hr">
            {% if not user.is_anonymous %}
            <div class="fl profile_sidebar">
                <h2><a href="/dashboard/start/">Dashboard</a></h2>
                <div class="sidebar_links">
                    <ul>
                        {% if user.actor.is_sellerregistered %}
                        <li class="">
                            <code>
                            </code><a href="/dashboard/providedlead/">{% trans "Leads" %}</a>
                        </li>
                        {% else %}
                        <li class="">
                            <code>
                            </code><a href="/dashboard/providedlead/">{% trans "Leads" %}</a>
                        </li>
                        {% endif %}
                        {% if apply_auction %}
                        <li class="">
                            <code>
                            </code>
                            <a href="">{% trans "Subscription" %}</a>
                        </li>
                        <li class="">
                            <code>
                            </code>
                            <a href="">{% trans "Bid" %}</a>
                        </li>
                        {% endif %}
                        <li class="">
                            <code>
                            </code><a href="">Filters</a>
                        </li>
                        <li class="">
                            <code>
                            </code><a href="">Profile</a>
                        </li>
                        <li class="">
                            <code>
                            </code><a href="">Account </a>
                        </li>
                        <li class="">
                            <code>
                            </code><a href="">Tools </a>
                        </li>
                    </ul>
                </div>
                <div class="clear_both"></div>
             
              
            </div><!-- profile_sidebar -->
            {% endif %}
          
        </div>
        </div>
    </body>
</html>
